   header {
      text-align: center;

    }
  
  body {
      text-align: center;
      background: Plum;
      background-size: cover;
      background-position: center;
      color: black;
      font-family: helvetica;
      display: center;
    }
    p {
      font-size: 22px;
      display: center;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    img {
      margin: 20px 0px 0px 0px;
      border: 7px solid black;
      border-radius: 20px;
    }
    h1 {
      font-family: 'Londrina Shadow', cursive;
      text-align: center;
      font-size: 65px;
      color: black;
      margin: 40px 0 0 0;
}
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
     ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    a {
      color: white;
    }
    
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
      
    }
    h1 {
      font-family: 'Lobster', cursive;
      font-size: 50px;
    }
