body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: PaleTurquoise;
}
div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
h1 {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 65px;
  color: black;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: black;
  margin: 0px 0 70px 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30;
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("https://www.pinterest.com/pin/23925441749732718/");
}
.second{
  background-image: url("<table style="width:auto;"><tr><td><a href="https://picasaweb.google.com/lh/photo/Je_L6KXOHladXJ9i2GvWutMTjNZETYmyPJy0liipFm0?feat=embedwebsite"><img src="https://lh3.googleusercontent.com/-94AkRL5DoLY/V2JCikjI9wI/AAAAAAAADW0/LXJyYNODmHoDM6adcbP8OcBles5KFZbEACCo/s288/12923178_1237597586268998_8773167300125787797_n.jpg" height="288" width="288" /></a></td></tr><tr><td style="font-family:arial,sans-serif; font-size:11px; text-align:right">From <a href="https://picasaweb.google.com/112316862608111438721/6296668390298782561?authuser=0&feat=embedwebsite">June 15, 2016</a></td></tr></table>");
}
.third{
  background-image: url("http://dash.ga.co/assets/dessertcourse.jpg");
}
.dessert{
  background-image: url("http://dash.ga.co/assets/dessertcourse.jpg");
}
.fourth{
  background-image: url("http://www.robertshawaii.com/public/roberts/styles/blog_590x360/public/9.14SweetMochi.jpg?itok=bFG8qRQU");
}
.price {
  float: right;
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}
